.slide--center {
    width: 100%;
    color: #fff;
}

.slide--center {
    width: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide-11,
.slide-13,
.slide-15,
.slide-17 {
    background-color: var(--slide-grey-color);
    font-family: 'Source Sans Pro', sans-serif;
}

.slide-11 .slide {
    padding-top: 91px;
    padding-bottom: 96px;
}

.slide__content {
    text-align: center;
}

.slide__header {
    font-weight: 700;
}

.slide__header--11 {
    font-size: 5.2rem;
    letter-spacing: -0.4px;
    line-height: 55px;
}

.slide__sub.slide__sub--11 {
    font-weight: 600;
    margin-bottom: 20px !important;
    margin-top: 26px;
}

.slide__sub--11 {
    font-size: 2.5rem;
    color: rgb(255, 192, 199);
    line-height: 37.5px;
    margin: 19px 0;
}

.slide-11 .slide__body {
    margin-bottom: 50px;
}

.slide__items {
    list-style-type: none;
    font-size: 2rem;
    line-height: 36px;
    font-weight: 600;
    text-decoration-style: solid;
    display: inline-block;
    margin: 0;
}

.slide__items--11 {
    padding-left: 85px;
    margin-top: 15px;
}

.slide__item .slide__item-icon {
    margin-right: 15px;
    display: inline-flex;
    margin-bottom: -4.9px;
}

.slide__item-strong {
    font-weight: 700;
}

.slide__btn {
    margin: 0 auto;
    text-align: center;
    display: block;
}

.slide__btn a {
    display: block;
    text-decoration: none;
    font-weight: 600;
    color: var(--white-color);
}

.slide__btn:hover {
    background-color: var(--btn-hover-color);
    cursor: pointer;
}

.slide__btn--learn-More {
    width: 300px;
    height: 52px;
    border-radius: 25px;
    line-height: 52px;
    font-size: 2rem;
    background-color: var(--btn-color);
    margin-top: 32px !important;
}

.slide {
    font-family: 'Source Sans Pro', sans-serif;
}

.slide--center {
    width: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

HEAD .slide {
    font-family: 'Source Sans Pro', sans-serif;
}

.slide--center {
    width: 100%;
    color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide__sub {
    font-weight: 600;
}

.slide__content {
    text-align: center;
}

.slide__header {
    font-weight: 700;
}

.slide-11 *,
.slide-12 *,
.slide-13 *,
.slide-14 *,
.slide-15 *,
.slide-16 *,
.slide-17 *,
.slide-18 *,
.footer * {
    padding: 0;
    margin: 0;
}


.slide-12 {
    color: #000;
    background-color: var(--slide-12-color);
    padding: 80px 0 95px 0;
}

.slide-12 .slide {
    margin: 0 auto;
    text-align: center;
    display: block;
}

.slide-12 .slide__header--12 {
    font-size: 65px;
    line-height: 97.5px;
    margin-bottom: 5px;
}

.slide__sub--12.slide__sub {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 26px;
}

.slide-12 .slide__img--12:hover {
    opacity: 0.6;
}

.slide-11,
.slide-13,
.slide-15,
.slide-17 {
    background-color: var(--slide-grey-color);
    font-family: 'Source Sans Pro', sans-serif;
}

.slide-11 .slide {
    padding-top: 91px;
    padding-bottom: 96px;
}

.slide__content {
    text-align: center;
}

.slide__header {
    font-weight: 700;
}

.slide__header--11 {
    font-size: 5.2rem;
    letter-spacing: -0.4px;
    line-height: 55px;
    margin: 0;
}

.slide__sub {
    font-weight: 600;
}

.slide-11 .slide__body {
    margin-bottom: 50px;
}

.slide-11 *,
.slide-12 *,
.slide-13 *,
.slide-14 *,
.slide-15 *,
.slide-16 *,
.slide-17 *,
.slide-18 *,
.footer * {
    padding: 0;
    margin: 0;
}

.slide-11,
.slide-13,
.slide-15,
.slide-17 {
    background-color: var(--slide-grey-color);
}

.slide__content {
    text-align: center;
}

.slide__header {
    font-weight: 700;
}

.item__strong {
    font-weight: 700;
}

.slide__sub {
    font-weight: 600;
}

.slide__items {
    list-style-type: none;
    font-size: 20px;
    line-height: 36px;
    font-weight: 600;
    text-decoration-style: solid;
    display: inline-block;
    margin: 0;
}

.slide__items--11 {
    padding-left: 85px;
    margin-top: 15px;
}

.slide__item .slide__item-icon {
    margin-right: 15px;
    display: inline-flex;
    margin-bottom: -4.9px;
}

.slide__item-strong {
    font-weight: 700;
}

.slide__item .slide__item-icon {
    margin-right: 15px !important;
    display: inline-flex;
    margin-bottom: -4.9px;
}

.slide__btn {
    margin: 0 auto;
    text-align: center;
    display: block;
}

.slide__btn a {
    display: block;
    text-decoration: none;
    font-weight: 600;
    color: var(--white-color);
}

.slide__btn:hover {
    background-color: var(--btn-hover-color);
    background-color: var(--btn-hover-color);
    cursor: pointer;
}

.slide__btn--learn-More {
    width: 300px;
    height: 52px;
    border-radius: 25px;
    line-height: 52px;
    font-size: 2rem;
    background-color: var(--btn-color);
}

.slide-14 {
    background-color: var(--slide-14-color);
}

.slide__img--14:hover {
    opacity: 0.8;
    cursor: pointer;
}

/* app */

.app {
    position: relative;
}

.content {
    margin-top: -2px;
    width: 100%;
}

#test {
    position: fixed;
}

.navbar {
    margin: 0;
    /* padding-right: 16px; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* position: absolute; */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000000;
    background-color: var(--white-color);
    height: 54px;
}

.navbar-body-left {
    display: flex;
    align-items: center;
    z-index: 2;
    position: relative;
}

.navbar__home {
    padding: 0px 19px;
}

.navbar__home:hover {
    opacity: .8;
}

.navbar__home-img {
    height: 46px;
    margin-top: 8px;
}

.navbar__selection {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.6rem;
    padding: 20px 20px;
}

.navbar__selection:hover {
    background-color: #04AA6D;
    color: var(--white-color);
}

.navbar__selection-item {
    display: flex;
    align-items: center;
    margin: 0;
}

.navbar__selection-text {
    margin: 0;
    margin-right: 4px;
    font-weight: 400;
}

.navbar__search {
    height: 36px;
    width: 178px;
    border: 1px solid #cbcbcb;
    border-radius: 26px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px 0px;
    margin-left: 8px;
}

.navbar__search-icon {
    font-size: 1.6rem;
    padding: 10px;
    border-radius: 28px;
}

.navbar__search-input {
    width: 100%;
    height: 34px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border: none;
    margin-left: 12px;
    outline: none;
}

.navbar__search-input::placeholder {
    font-style: italic;
}

.navbar__search-icon:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.navbar__dark-mode {
    margin-left: 6px;
    margin-right: 8px;
}

.navbar__dark-mode-icon {
    padding: 10px 10px;
    font-size: 1.6rem;
}

.navbar__dark-mode-icon:hover {
    background-color: #f1f1f1;
    cursor: pointer;
    border-radius: 50%;
}

.navbar-body-right {
    display: flex;
    /* align-items: center; */
    overflow: hidden;
}

.navbar__service-list {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.navbar__service {
    display: flex;
    align-items: center;
    padding: 8px 10px;
    border-radius: 25px;
    height: 38px;
    animation: opacity 0.1s ease;
}

.navbar_right-icon {
    font-size: 1.6rem;
    color: #b48ff6;
}

.navbar_right-text {
    font-size: 1.6rem;
    margin-left: 4px;
}

.navbar__service:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.navbar__access {
    display: flex;
    align-items: center;
    min-width: 154px;
}

.navbar__acess-form {
    font-size: 1.6rem;
    /* padding: 8px 16px; */
    text-decoration: none;
    display: flex;
    margin-right: 16px;
}

.navbar__acess-sign-up {
    text-decoration: none;
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 8px 16px;
    border-radius: 25px;
    z-index: 1;
    padding-right: 20px;
}

.navbar__acess-log-in {
    background-color: #d9eee1;
    text-decoration: none;
    color: var(--black-color);
    padding: 8px 23px 8px 30px;
    margin-left: -24px;
    border-radius: 25px;
}

.navbar__acess-sign-up:hover {
    background-color: #059862;
}

.navbar__acess-log-in:hover {
    background-color: #059862;
    color: var(--white-color);
}


/* Modal */

.modal {
    position: fixed;
    top: 54px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    display: none;
    z-index: 10000;
}

.modal-services,
.modal-certificates,
.modal-tutorials,
.modal-exercises {
    width: 100%;
    background-color: #282A34;
    padding-top: 34px;
    padding-bottom: 34px;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.modal-tutorials__content {
    max-height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 950px;
    padding: 0 16px;
}

.mdt-header {
    display: flex;
    align-items: center;
}

.head {
    color: #FFF4A2;
    font-size: 3.2rem;
    width: 37%;
}

.filter {
    background-color: #464645;
    width: 314px;
    height: 46px;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.filter__search {
    font-size: 1.6rem;
    background-color: #464645;
    outline: none;
    border: none;
    width: 100%;
    height: 100%;
    color: var(--white-color);
    padding-left: 22px;
}

.filter__search::placeholder {
    font-style: italic;
    color: var(--white-color);
}

.fiter__icon {
    font-size: 1.6rem;
    color: var(--white-color);
    padding: 15px 19px;
    position: absolute;
    right: 0px;
    top: 0px;
    border-radius: 50%;
}

.fiter__icon:hover {
    background-color: rgba(52, 52, 52, 0.5);
    cursor: pointer;
}

.close {
    position: absolute;
    display: block;
    top: 10px;
    right: 10px;
    width: 64px;
    height: 64px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.close:hover {
    cursor: pointer;
    background-color: #fbfbfb;
    color: #000;
}

.close__icon {
    font-size: 4rem;
    color: var(--white-color);
    padding: 16px;
}

.close__icon:hover {
    color: #000;
}

.list-left-top {
    margin-bottom: 52px;
}

.list-left__header {
    color: #fdf4a1;
    font-size: 2.4rem;
    margin-bottom: 36px;
    font-weight: 500;
}

.list-left__list {
    padding: 0;
}

.list-left__list-item {
    list-style: none;
    margin: 16px 0;
}

.list-item__head {
    font-size: 1.8rem;
    color: var(--white-color);
    padding: 2px 6px;
    margin-bottom: 32px;
    padding-bottom: 7px;
}

.list-item__head:hover {
    background-color: #ccc;
    color: var(--black-color);
    border-radius: 4px;
}

.list-left__list-item a:first-child {
    text-decoration: none;
}

.list-item-link {
    font-size: 1.2rem;
    color: #fdf4a1;
    padding: 2px 6px;
    margin-bottom: 20px;
}

.list-item-link:hover {
    background-color: #059862;
    color: var(--white-color);
    border-radius: 4px;
}

.mdt-course-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 8px;
}

.list-item__head-learn {
    font-size: 1.5rem
}

.list-left__list--hot {
    padding: 3px 10px;
    font-size: 1.1rem;
    background-color: #d7242b;
    border-radius: 25px;
    border: 1px solid var(--black-color);
    margin-bottom: 3px;
}

.list-left__list--new {
    padding: 3px 10px;
    font-size: 1.1rem;
    background-color: #00ab6b;
    border-radius: 25px;
    border: 1px solid var(--black-color);
}

.select {
    background-color: #272b35;
    color: var(--white-color);
}

.ex_and_quiz {
    margin-top: 52px;
}

.ex,
.quiz {
    height: 32px;
    background-color: #20232b;
    border: 1px solid grey;
    border-radius: 5px;
    margin-bottom: 16px;
    text-align: center;
    line-height: 32px;
}

.ex__link,
.quiz__link {
    font-size: 1.8rem;
    color: var(--white-color);
    /* padding: 5px 19px; */
    text-decoration: none;
    font-weight: 400;
    border-radius: 4px
}

.quiz__link {
    padding: 4px 39px;
}

.modal-services__note {}

.modal-services__note-text {
    font-size: 1.7rem;
    color: var(--white-color);
    line-height: 3.2rem;
    padding: 30px 13px 15px 13px;
}

.modal-services__column {
    display: flex;
    justify-content: space-around;
    padding: 8px 12px;
}

.modal-services__row {
    background-color: #3d404a;
    width: 290px;
    border-radius: 5px;
    padding: 8px 16px;
}

.row__heading {
    font-size: 2rem;
    color: #fdf5a5;
    margin: 28px 8px;
    display: flex;
    justify-content: space-between;
}

.row__text {
    font-size: 1.4rem;
    color: var(--white-color);
    margin-bottom: 28px;
}

.row__text-2 {
    margin-top: -20px;
}

.modal-services__socials {
    padding: 100px 17px 20px;
}

.modal-services__socials-icon {
    font-size: 2.4rem;
    color: var(--white-color);
    padding: 12px 16px;
    margin-right: 10px;
    height: 50px;
    display: inline-flex;
    align-items: center;
    border-radius: 5px;
}

.modal-services__socials-icon:hover {
    background-color: #fbfbfb;
    color: var(--black-color);
    cursor: pointer;
}

.row__img {
    height: 35px;
    transform: translateY(-18px);
}

.modal-services__row--hover:hover {
    background-color: #000;
    cursor: pointer;
}

.ex_quiz--hover:hover .ex__link,
.ex_quiz--hover:hover .quiz__link {
    color: var(--black-color) !important;
    background-color: #ccc;
    cursor: pointer;
}

.ex__link-certificates--padding {
    padding: 5px 29px;
}

.ex__link-exercises--padding {
    padding: 5px 19.5px;
}

.quiz__link-exercises--padding {
    padding: 5px 40px;
}


/* Header */

.header {
    margin-top: 54px;
    width: 100%;
    background-color: #282b35;
    display: flex;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.header__list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow-x: auto;
    white-space: nowrap;
    padding: 0 0px;
    margin-bottom: 0;
    overflow-x: auto;
    white-space: nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin: 0;
}

.header__list::-webkit-scrollbar {
    display: none;
    /* Ẩn thanh cuộn trong trình duyệt WebKit (Chrome, Safari) */
}

.header__item:hover {
    background-color: #000;
    cursor: pointer;
}

.header__link {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 8px 15px;
    display: inline-block;
    width: 100%;
    color: var(--white-color);
    font-weight: 300;
}

.header::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}

.header::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 10px;
}

.scroll-btn {
    background-color: #292a35;
    color: var(--white-color);
    border: none;
    padding: 0px 12px;
}

.scroll-btn:hover {
    background: linear-gradient(to left, #000 95%, transparent 100%);
    cursor: pointer;
}

.slide__btn--learn-More {
    width: 300px;
    height: 52px;
    border-radius: 25px;
    line-height: 52px;
    font-size: 20px;
    background-color: var(--btn-color);
}

/* footer */

.footer__main {
    position: relative;
    background-image: url('../img/footer-background.webp');
    background-color: var(--slide-grey-color);
    background-repeat: no-repeat;
    background-position: right bottom, center center;
    font-size: 12px;
    width: 100%;
    font-family: Source Sans Pro, sans-serif;
    font-weight: 600;
    padding: 40px 80px 400px 80px;

    /*  */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

}

.footer__container {
    max-width: 1200px; /* Đặt giới hạn độ rộng */
    width: 100%; /* Đảm bảo phần tử con chiếm đủ chiều rộng */
    padding: 0 20px; /* Đệm để tránh nội dung sát biên */
}

.footer__main::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/background-star.png');
    background-size: cover;
    opacity: 0.4;
    pointer-events: none;
}

@media screen and (max-width: 1200px) {
    .footer {
        background-size: 500px, auto;
    }
    .footer__link-1,
    .footer__header-logo {
        padding-left: 2.6%;
        padding-right: 2.6%;
    }
    .footer__Top {
        padding-right: 8%;
    }
}

@media screen and (max-width: 992px) {
    .footer__main {
        padding: 40px 80px 400px 80px !important;
    }
    .footer__header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer__header-logo {
        padding: 10px 20px 10px 20px !important;
    }
    .footer__link-1 {
        width: 100%;
        float: none;
        text-align: center;
        padding: 10px 20px!important;
        font-size: 20px;
        display: block;
        margin: 0 auto;
    }
    .footer_body {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer__title {
        margin: 40px 0 20px 0 !important;
    }
    .footer__Top {
        width: 100%;
        /* float:none; */
        margin: 0 auto;
        font-size: 16px;
        line-height: 20px;
        padding: 0 !important;
        align-items: center;
        flex-basis: 100%;
        text-align: center;
    }
    .footer__Top h5 {
        font-size: 26px;
        margin-top: 40px;
    }
    .footer__footer {
        text-align: center;
        padding: 0 !important;
    }
    */ .footer__delete-br {
        display: none;
    }
    .footer__main {
        padding-bottom: 400px;
    }
    .footer__icon {
        text-align: center;
    }
    .footer__break {
        margin-top: 16px !important;
        display: block !important;
    }
}

@media screen and (max-width: 992px) {
    .footer {
        background-image: url('../img/footer-background.webp'), url('../img/background-star.png');
        background-color: #282A35;
        background-repeat: no-repeat, repeat;
        background-position: center bottom, left top;
    }
}

@media screen and (max-width: 1200px) {
    .footer__main {
        background-size: 500px, auto;
    }
}

.footer__header {
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
}

.footer__header-logo {
    padding: 30px 10px 30px 40px;
}

.footer__header-logo #logo {
    font-size: 46px;
    width: 49px;
    height: 46px;
}

.footer__link-1,
.footer__header-logo {
    text-transform: uppercase;
    width: auto;
    float: left;
}

.footer__link-1 a,
.footer__header-logo a {
    text-decoration: none;
    color: #FFF4A3;
    line-height: 22.5px;
    font-size: 15px;
}

.footer__link-4:hover,
.footer__size-15:hover,
.footer__link-1 a:hover,
.footer__header-logo a:hover {
    text-decoration: underline;
    color: #FFF4A3;
    cursor: pointer;
}

.footer__link-1:hover a,
.footer__header-logo:hover a {
    text-decoration: underline;
    color: #FFF4A3;
}

.footer__link-1 {
    padding: 40px 30px;
}

.footer__break {
    margin: 0;
    display: inline;
}

.footer__body {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}

.footer__main .footer__title {
    font-size: 18px;
    margin: 10px 0 20px 0;
}

.footer__link-2 {
    display: block;
}

.footer__link-2:hover,
.footer__size-20:hover,
.footer__Top-4 .footer__title:hover {
    text-decoration: underline;
    color: #FFF4A3;
    text-decoration: none;
}

.footer__size-15 {
    font-size: 15px;
}

.footer__Top {
    float: left;
    width: auto;
    padding: 0 135px 0 40px;
}

.footer__Top-4 {
    padding-right: 0;
}

.footer__icon {
    display: flex;
    /* font-size: 20px; */
    padding: 20px;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 16px;
    /* justify-content: center; */
}

.footer__link-3 {
    margin-right: 16px;
    display: block;
    font-size: 2rem;
    padding: 20px;
}

.footer__link-3 {
    margin-right: 10px;
}

.footer__a {
    color: rgb(221, 221, 221);
    text-decoration: none;
}

.footer__footer {
    padding-left: 40px;
}

.footer__link-4 {
    color: rgb(221, 221, 221);
}

.footer__box-icon-1 {
    display: flex;
}

.footer__box-icon-2 {
    display: flex;
    flex-wrap: wrap;
}

.split {
    margin-bottom: -8px;
}

/* Plus */

.toggle-container {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.toggle-container label {
    font-size: 18px;
    cursor: pointer;
}

.toggle-switch {
    position: relative;
    width: 60px;
    height: 30px;
    background-color: #cccccc;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.toggle-switch::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 26px;
    height: 26px;
    background-color: #ffffff;
    border-radius: 50%;
    transition: 0.3s;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked + .toggle-switch {
    background-color: #0aa66b;
}

input[type="checkbox"]:checked + .toggle-switch::before {
    transform: translateX(30px);
}

.toggle-container label {
    color: white;
}

.slide1 {
    width: 100%;
    padding-top: 80px;
    padding-bottom: 90px;
    text-align: center;
    background-color: #20232b;
}

.slide1__heading {
    font-size: 5.2rem;
    align-items: center;
    color: white;
    line-height: 55px;
}

.slide1__note {
    font-size: 2.5rem;
    color: #f8bfc6;
    margin: 20px 0;
    line-height: 24px;
}

.slide1__text {
    font-size: 1.8rem;
    color: white;
    line-height: 1.6;
    padding: 4px 8px;
    margin: 22px 0;
}

.slide2 {
    background-image: url(../img/backgroundPlus_slide2.1.svg), url(../img/backgroundPlus_slide2.2.svg), 
    url(../img/backgroundPlus_slide2.3.svg), url(../img/backgroundPlus_slide2.4.svg);
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: -10%, right, 0%, right -10%;
    background-size: 30% 100%, 15% 100%, 30% 100%, 30% 100%;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin-top: 25px;
    background-color: #20232b;
    margin-top: 0;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 90px;
}

.slide2__box {
    flex-grow: 1;
    min-width: 320px;
    max-width: 320px;
    margin: 25px 10px;
    background: radial-gradient(circle at 58.04px 56.96px, rgba(55, 166, 106, 0.33) 0%, rgba(57, 107, 154, 0.05) 100%);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3), inset 0 0 10px rgba(0, 0, 0, 0.2);
    color: white;
    padding: 20px;
    position: relative;
    transition: all 0.3s ease-in-out;
    border: 1px solid #494c52;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 32px;
}

.box-heading__header {
    font-size: 2.25rem;
    font-weight: bold;
    color: #319c6b;
}

.box-heading__cost {
    font-size: 2.25rem;
    font-weight: bold;
}

.box-heading__per {
    font-size: 0.5em;
    color: #9aa1b7;
    font-weight: normal;
}

.slide2__box-heading {
    border-bottom: 1px solid #ccc;
    margin-bottom: 8px;
}

.box-content__heading {
    font-size: 1.5rem;
    font-weight: 600;
}

.features-list {
    padding-left: 0;
    list-style-type: none;
    margin: 16px 0;
}

.feature-item {
    font-size: 1.5rem;
    margin-bottom: 6px;
}

.features-list > .feature-item::before {
    content: "✓";
    color: white;
    font-size: 10px;
    line-height: 16px;
    background-color: #04aa6d;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    margin-right: 5px;
    padding-left: 1px;
}

.slide2__box-link {
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
    font-weight: bold;
    border: 1px solid white;
    width: 40%;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    margin-top: 64px;
}

.slide2__box--flex2 {
    transform: scale(1.1);
}

.slide2__box--flex1:hover {
    transform: scale(1.05);
    z-index: 1;
}

.link--margin-top126 {
    margin-top: 126px;
}

.link--margin-top162 {
    margin-top: 162px;
}

.slide3__left {
    min-width: 40%;
    background-color: #f3ecea;
    padding: 36px 24px;
    /* text-align: center; */
    border-radius: 6px;
    margin-bottom: 16px;
}

.slide3__right {
    min-width: 40%;
    background-color: #d9eee1;
    padding: 36px 24px;
    /* text-align: center; */
    border-radius: 6px;
    margin-bottom: 16px;
}

.slide3 {
    display: flex;
    padding-top: 80px;
    padding-bottom: 90px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #20232b;
    text-align: center;
}

.slide3__img {
    height: 200px;
}

.slide3__heading {
    font-size: 4.5rem;
    line-height: 4.4rem;
    font-weight: bold;
}

.slide3__text {
    font-size: 1.8rem;
    line-height: 1.6;
    font-weight: bold;
    opacity: 0.7;
}

.slide4 {
    padding: 80px 68px 100px;
    text-align: center;
}

.slide4__heading {
    font-size: 4.5rem;
    line-height: 4.4rem;
    font-weight: bold;
    margin-bottom: 32px;
} 

.slide4__text {
    font-size: 2.4rem;
    line-height: 1;
    font-weight: 600;
}

.slide4__list {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.slide4__item {
    padding: 12px 24px;
    background-color: #e7e9eb;
    min-width: 312px;
    margin-right: 32px;
    text-align: left;
}
.slide4__item-head {
    font-size: 1.5rem;
    font-weight: bold;
    opacity: 0.5;
    margin-bottom: 16px;
}

.slide4__item-text {
    font-size: 3.2rem;
    font-weight: bold;
    line-height: 3rem;
    width: 100%;
    margin-left: -95px;
    padding: 0;
    margin: 0;
}

.slide5 {
    background-color: #282b35;
    padding: 70px 20px;
    text-align: center;
}

.slide5__heading {
    font-size: 6rem;
    color: white;
    line-height: 6rem;
}

.slide5__text {
    font-size: 2.4rem;
    color: white;
    line-height: 2;
}

.slide5__gif {
    width: 600px;
    margin-bottom: 56px;
}

.slide5__img {
    margin-bottom: 56px;
}

.slide5__btn {
    font-size: 1.8rem;
    font-weight: bold;
    cursor: pointer;
    margin: 0 auto;
}

.slide5__btn--signup {
    background-color: #09aa6e;
    color: white;
    border: none;
    border-radius: 26px;
    margin-bottom: 32px;
    padding: 10px 45px;
    margin: 16px 40%;
    margin-bottom: 32px;
}

.slide5__btn--readmore {
    color: white;
    border: 1px solid #FFC0C7;
    padding: 10px 70px;
    border-radius: 26px;
}

.slide5__btn--signup:hover {
    background-color: #059862;
}

.slide5__btn--readmore:hover {
    background-color: #FFC0C7;
    color: black;
}

.slide6 {
    background-color: #22262e;
    padding: 40px 30px 160px;
    width: 100%;
}

.slide6__heading {
    font-size: 5rem;
    margin: 16px 0 25px;
    line-height: 5rem;
    color: white;
    text-align: center;
    margin-bottom: 64px;
}

.slide6__row {
    display: flex;
    flex-wrap: wrap;
    margin: 32px 0;
    justify-content: center;

}

.slide6__columm {
    width: 35%;
    min-height: 338px;
    background-color: white;
    padding: 15px 20px;
    margin-right: 32px;
    border-radius: 6px;
}

.slide6__columm-head {
    font-size: 4.5rem;
    line-height: 4.4rem;
    text-align: center;
    margin-bottom: 58px;
    margin-top: 16px;
    font-weight: bold;
}

.silde6__columm-text {
    font-size: 1.8rem;
    text-align: center;
    line-height: 1.6;
    font-weight: 600;
}

.slide6__btn {
    margin-top: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-55%);
    font-size: 2rem;
    background-color: var(--primary-color);
    color: white;
    padding: 12px 50px;
    border: none;
    border-radius: 25px;
}

.slide6__btn:hover {
    background-color: #059862;
    cursor: pointer;
}

.slide7 {
    background-color: #282b35;
    width: 100%;
    padding: 80px 80px 120px;
}

.slide7__list {
    list-style-type: none;
    padding: 0 15%;
}

.slide7__item {
    display: flex;
    font-size: 1.8rem;
    color: black;
    background-color: white;
    align-items: center;
    padding: 4px 18px;
    margin-top: 25px;
    border-radius: 6px;
    font-weight: bold;
}

.slide7__item-icon {
    margin-right: 8px;
}

.slide7__questions {
    font-size: 2.4rem;
    color: white;
    text-align: center;
    margin-top: 56px;
    margin-bottom: 10px;
}

.slide7__link {
    color: white;
    margin-left: 4px;
}

.slide7__link:hover {
    color: var(--primary-color);
}

.silde7__email {
    font-size: 2rem;
    color: white;
    text-align: center;
    line-height: 2rem;
    margin-top: 30px;
}

.slide7__btn {
    padding: 10px 40px;
    background-color: var(--primary-color);
    font-size: 1.8rem;
    border: none;
    color: white;
    border-radius: 25px;
    margin: 0 38%;
    margin-top: 32px;
}

.slide7__btn:hover {
    background-color: #059862;
    cursor: pointer;
}

.slide7__cancel {
    font-size: 1.8rem;
    text-align: center;
    color: white;
    margin-top: 32px;
    font-weight: bold;
}

.box--none {
    display: none;
}





